#banner {
	width: 100%;
	height: 40vh;
	padding: 0 10vw;
	background: #111;

	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: 20px;

	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	h1 {
		font: bold 24px/1 'arial';
		color: #fff;
	}

	p {
		font: 14px/1 'arial';
		color: #ddd;
	}
}
