#pics {
	width: 100%;
	padding: 200px 10vw 150px;
	background: #ddd;

	h1 {
		text-align: center;
		margin-bottom: 50px;
	}
	.wrap {
		width: 100%;
		height: 60vh;
		display: flex;
		justify-content: space-between;

		.left {
			width: 30%;
			height: 100%;
			background: #555;

			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			// 여기까지하면 하나하나 중앙정렬은 안됨
			// gap: 20px;

			> * {
				width: 100%;
				text-align: center;
			}

			i {
				font-size: 120px;
				color: #eee;

				margin-bottom: 30px;
			}

			h2 {
				font: bold 18px/1 'arial';
				color: #fff;
				margin-bottom: 5px;
			}
			p {
				font: 14px/1.2 'arial';
				color: #888;
				margin-bottom: 40px;
			}
			a {
				width: 200px;
				height: 30px;
				border: 1px solid #aaa;
				font: 12px/30px 'airal';
				color: #aaa;
			}
		}

		.right {
			width: calc(70% - 20px);
			height: 100%;

			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			justify-content: space-between;
			gap: 20px;

			article > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			article:nth-of-type(1) {
				width: calc(50% - 10px);
				height: calc(50% - 10px);
				background: #666;
			}

			article:nth-of-type(2) {
				width: calc(50% - 10px);
				height: calc(50% - 10px);
				background: #666;
			}

			article:nth-of-type(3) {
				width: 100%;
				height: calc(50% - 10px);
				background: #666;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#pics {
		padding: 180px 10vw 150px;

		.wrap {
			height: auto;
			flex-wrap: wrap;
			gap: 20px;

			.left {
				width: 100%;
				// height: 50vh;
				height: 350px;

				i {
					font-size: 80px;
				}
			}

			// .right {
			// 	width: 100%;

			// 	article:nth-of-type(1) {
			// 		height: 25vh;
			// 	}

			// 	article:nth-of-type(2) {
			// 		height: 25vh;
			// 	}

			// 	article:nth-of-type(3) {
			// 		height: 25vh;
			// 	}
			// }

			.right {
				width: 100%;
				height: 600px;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#pics {
		padding: 140px 10vw 120px;
		.wrap {
			.left {
			}

			// .right {
			// 	flex-wrap: wrap;
			// 	flex-direction: column;

			// 	article:nth-of-type(1) {
			// 		width: 100%;
			// 	}

			// 	article:nth-of-type(2) {
			// 		width: 100%;
			// 	}

			// 	article:nth-of-type(3) {
			// 	}
			// }

			.right {
				height: auto;

				article:nth-of-type(1),
				article:nth-of-type(2) {
					width: 100%;
					height: 200px;
				}

				article:nth-of-type(3) {
					height: 200px;
				}
			}
		}
	}
}
