#vids {
	width: 100%;
	padding: 250px 10vw 200px;

	h1 {
		margin-bottom: 50px;
		text-align: center;
		font: bold 22px/1 'arial';
		color: #777;
	}

	.wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;

		article {
			flex: 1;

			.pic {
				width: 100%;
				height: 130px;
				margin-bottom: 15px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				margin-bottom: 10px;
				font: bold 16px/1 'arial';
				color: #555;
			}
			p {
				font: 14px/1.3 'arial';
				color: #777;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#vids {
		padding: 180px 10vw 150px;

		.wrap {
			gap: 40px;

			article {
				flex: none;
				// flex-basis: calc(50% - 20px);
				width: calc(50% - 20px);
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#vids {
		padding: 140px 10vw 120px;

		.wrap {
			article {
				// flex-basis: 100%;
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}
